@font-face {
  font-family: vazir;
  src: url(../font/Vazir.woff2);
}

* {
  font-family: vazir !important;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

.card {
  transition: all 0.2s ease;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.01);
}

.banner {
  position: relative;
  text-align: center;
  color: white;
}

.banner-text {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.banner:hover {
  box-shadow: 1px #e9ecef;
  transform: scale(1.01);
}

.page-link {
  color: black;
}

#dashboard-item {
  padding: 1rem;
}

#dashboard-item:hover {
  cursor: pointer;
  border-style: solid;
  border-width: 0 5px 0 0;
  border-color: blue;
  color: blue;
  transform: scale(1.05);
}

.nav-link {
  color: black;
}
#dashboard-sidebar {
  transition: 0.5s;
}
